.root {
    margin-bottom: 80px;
    min-height: 45vh;
}

.toolbarBtn {
    margin-right: 15px;
}

.firstColumn {
    width: 60px;
}

.birthdayColumn {
    width: 130px;
}

.weightColumn {
    width: 155px;
}

.weightInput{
    width: 75px;
}


.levelColumn {
    width: 100px;
    min-width: 100px;
}

.departColumn {
    width: 100px;
}

.trainerColumn {
    min-width: 150px;
}

.fioColumn {
    min-width: 150px;
}

.toolsColumn {
    width: 10px;
}

.toolbar {
    margin-bottom: 20px;
    min-width: 700px;
}

.table {
    margin-bottom: 0px;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
}

.table .emptyMessage {
    height: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.weightForm {
    margin-bottom: 0;
}

.removeBtn {
    color: #cccccc;
    width: 16px;
    padding: 0;
}

.removeBtn:hover,
.removeBtn:active,
.removeBtn:focus {
    color: #d9534f;
    outline:0 !important;
}
.emptySendBtn{
    margin-left: 15px;
}
