.root {
    margin-bottom: 80px;
    min-height: 45vh;
}

.confirmModal {
    margin-top: 30vh;
}

.table {
    margin-bottom: 0px;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
}

.table > tbody > tr > td {
    height: 47px;
}

.table > tbody > tr.trDisabled {
    opacity: 0.5;
}

.table .emptyMessage {
    height: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.fioColumn {
    min-width: 150px;
}

.trainerColumn {
    min-width: 150px;
    width: 30%;
}

.toolsColumn {
    width: 60px;
}

.removeBtn {
    display: inline-block;
    color: #cccccc;
    width: 16px;
    padding: 0;
}

.removeBtn:hover,
.removeBtn:active {
    color: #d9534f;
    outline: 0 !important;
}

.editBtn {
    display: inline-block;
    color: #cccccc;
    width: 16px;
    padding: 0;
}

.editBtn:hover,
.editBtn:active {
    color: #33a9ff;
    outline: 0 !important;
}

.editBtn:hover,
.editBtn:active,
.editBtn:focus,
.removeBtn:hover,
.removeBtn:active,
.removeBtn:focus {
    outline: 0 !important;
}
.buttonsContainer{
	min-width: 56px;
}
.buttonsContainer button {
    margin-right: 10px;
}

.buttonsContainer button:last-child {
    margin-right: 0;
}

.editableField {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px!important;
}

.editableDatetimeField {
    width: 150px;
}

.editableFioField {
    max-width: 300px;
    min-width: 150px;
}

.datetimeColumn {
    min-width: 100px;
    width: 27%;
}

.addNewRowBlock {
    margin-top: 15px;
    background-color: #f1f1f1;
    margin-bottom: 17px;
    padding-bottom: 10px;
    min-width: 470px;

}

.addNewRowBlockHeader {
    margin-top: 0;
    padding: 15px 0 0 15px;
    margin-bottom: 25px;
}

.addNewTable > tbody > tr {
    background: none;
}

.addNewTable > tbody > tr > td {
    border: none;
}

.fieldLabel {
    margin-right: 15px;
    line-height: 30px;
}


.editableFieldInput {
    display: inline-block;
    width: auto;
}
.dropdownButtonWrapper{
    display: inline-block;

}
.addNewRowBlockForm{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

}
.addNewRowBlockFields{}
